In [ ]:
import sqlite3
connection = sqlite3.connect("Database.db")

#creating the cursor object
cursor = connection.cursor()


#statement to create tables
create_studentinfo_tbl  = """CREATE TABLE IF NOT EXISTS studentinfo_tbl(
                    StudentID INTEGER,
                    FirstName TEXT,
                    LastName TEXT,
                    Email TEXT,
                    ProgramID INTEGER
                    )"""

create_program_tbl  = """CREATE TABLE IF NOT EXISTS program_tbl(
                    ProgramID INTEGER,
                    ProgramName TEXT,
                    DepartmentID INTEGER
                    )"""

create_department_tbl  = """CREATE TABLE IF NOT EXISTS department_tbl(
                    DepartmentID INTEGER,
                    DepartmentName TEXT
                    )"""


#actually creating the table
cursor.execute(create_studentinfo_tbl)
cursor.execute(create_program_tbl)
cursor.execute(create_department_tbl)

cursor.execute("""INSERT INTO studentinfo_tbl(StudentID, FirstName, LastName, Email, ProgramID) VALUES(123, "Mandy", "Dodgson", "mdodgson@ivytech.edu", 1000)""")
cursor.execute("""INSERT INTO studentinfo_tbl(StudentID, FirstName, LastName, Email, ProgramID) VALUES(456, "Jill", "Dieken", "jdieken@ivytech.edu", 2000)""")
cursor.execute("""INSERT INTO studentinfo_tbl(StudentID, FirstName, LastName, Email, ProgramID) VALUES(789, "Amanda", "Winter", "awinter@ivytech.edu", 1000)""")
cursor.execute("""INSERT INTO studentinfo_tbl(StudentID, FirstName, LastName, Email, ProgramID) VALUES(147, "Josh", "Turpin", "jturpin@ivytech.edu", 3000)""")
cursor.execute("""INSERT INTO studentinfo_tbl(StudentID, FirstName, LastName, Email, ProgramID) VALUES(258, "Sam", "Lewis", "slewis@ivytech.edu", 3000)""")

cursor.execute("""INSERT INTO program_tbl(ProgramID, ProgramName, DepartmentID) VALUES(1000, "Data Analytics", 123456)""")
cursor.execute("""INSERT INTO program_tbl(ProgramID, ProgramName, DepartmentID) VALUES(2000, "Software Development", 123456)""")
cursor.execute("""INSERT INTO program_tbl(ProgramID, ProgramName, DepartmentID) VALUES(3000, "Networking", 123456)""")

cursor.execute("""INSERT INTO department_tbl(DepartmentID, DepartmentName) VALUES(123456, "Information Technology")""")

cursor.execute("SELECT * FROM studentinfo_tbl")
cursor.execute("SELECT * FROM program_tbl")
cursor.execute("SELECT * FROM department_tbl")
print(cursor.fetchall())
connection.commit()
connection.close()